@import "modules";

body {
  padding-top: 70px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

a[ng\:click], a[ng-click], a.ng-click {
  &:hover {
    cursor: pointer;
  }
}


.navbar {
  border-radius: initial;
}
