.module-thumbnail {
  a:hover {
    cursor: pointer;
  }
}

.thumbnail-tools-reset() {
  opacity: .2;
  color: #000;
  background-color: transparent;
}

.thumbnail-tools {
  .thumbnail-tools-reset;

  & + .dropdown-menu {
    min-width: initial;
  }

  &:hover, &:focus {
    .thumbnail-tools-reset;
  }
}

.btn-group.open .thumbnail-tools {
  .thumbnail-tools-reset;
}
