!!!
html
head
    title Sample Page
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    h1
      | Hello World !
//- vim: ft=jade et sw=2 sts=2
