<div class="home">
  <div class="home-header container">
    <h1>
      KHome
      <small>Faites évoluer votre maison !</small>
    </h1>
    <p>Parcourez le store et choissez les modules dont <strong>vous</strong> avez besoin.</p>
  </div>

  <div class="home-content container">
    <div class="row">
      <div class="col-md-4">
        <div class="fa-thumbnail">
          <span class="fa fa-cogs"></span>
        </div>
        <h2>Automatisez</h2>
        <p>Le KHome est fait pour ceux qui veulent pouvoir oublier des détails
          de la vie de tous les jours, sans pour autant perdre le contrôle sur
          son habitation.</p>
      </div>
      <div class="col-md-4">
        <div class="fa-thumbnail">
          <span class="fa fa-heart"></span>
        </div>
        <h2>Personnalisez</h2>
        <p>Ceci n'est pas une <em>solution standard</em>, bien au contraire !</p>
        <p>Customisez à l'infini les modules de votre KHome : météo, contrôle
          de l'humidité, musique, il y en a pour tous les goûts !</p>
      </div>
      <div class="col-md-4">
        <div class="fa-thumbnail">
          <span class="fa fa-laptop"></span>
        </div>
        <h2>Innovez</h2>
        <p>Vous êtes développeur ? Construisez votre application facilement à
          partir de la KPI.</p>
      </div>
    </div>
  </div>
</div>
