<span id="inject-independant"></span>
<div class="container">
  <div data-ng-show="module">
    <div class="header module-header">
      <img class="hidden-xs module-header-img" src="/api/modules/{{ module.name }}/public/icon.png"
        alt="Icon for {{ module.public_name || module.name }}"
        onerror="this.onerror = null; this.src = '/img/module.png'">
      <span class="h1 vertical-middle">{{ module.public_name || module.name }}</span>
      &nbsp;
      <a data-ng-click="requestUninstall(module)" title="Désinstaller ce module" class="btn btn-danger pull-right hidden-xs">
        Désinstaller
      </a>
      <span class="module-rating pull-right vertical-middle" data-ng-controller="RatingCtrl">
        <rating value="module.rating" max="5" data-ng-click="rate()" on-leave="overStar = null"></rating>
      </span>
    </div>
    <hr>
    <div class="content">
      <div data-ng-controller="FieldCtrl" data-ng-repeat="field in module.fields">
        <form data-ng-show="field.readable || field.writable" data-ng-submit="update()" class="form-horizontal" role="form">
          <fieldset data-ng-disabled="!field.writable">
            <div class="form-group" data-ng-class="{success:'has-success', error:'has-error', '':''}[field.state]">
              <label for="field-{{field.name}}" class="col-sm-2 control-label">{{field.public_name || field.name}}</label>
              <div class="input-group input-group-sm col-sm-10">
                <div class="input-group-addon" data-ng-show="field.writable" data-ng-switch on="field.state">
                  <span data-ng-switch-default>
                    <span class="glyphicon glyphicon-pencil"></span>
                  </span>
                  <span data-ng-switch-when="success">
                    <span class="glyphicon glyphicon-ok"></span>
                  </span>
                  <span data-ng-switch-when="error">
                    <span class="glyphicon glyphicon-remove"></span>
                  </span>
                  <span data-ng-switch-when="waiting">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
                <input data-ng-model="field.value"
                  data-ng-show="field.type=='string'"
                  name="field-str-{{field.name}}" type="text"
                  class="form-control" placeholder="{{field.public_name}}" />
                <input data-ng-model="field.value"
                  data-ng-show="field.type=='numeric' && !field.bounded"
                  name="field-num-{{field.name}}" type="number"
                  class="form-control" placeholder="{{field.public_name}}" />
                <div ui-slider="{ range: 'min' } " min="{{ field.value_min }}" max="{{ field.value_max }}"
                  data-ng-model="field.value"
                  data-ng-show="field.type=='numeric' && field.bounded && field.writable"></div>
                <progressbar data-ng-show="field.type=='numeric' && field.bounded && !field.writable"
                  value="field.value" min="field.value_min" max="field.value_max">
                  {{ field.value }}
                </progressbar>
                <input data-ng-model="field.value"
                  data-ng-show="field.type=='boolean'"
                  name="field-bool-{{field.name}}" type="checkbox"
                  class="form-control" />
                <span data-ng-show="field.writable" class="input-group-btn">
                  <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-share-alt"></span>
                  </button>
                </span>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <hr>
      <div id="inject"></div>
      <!--Supervision graph-->
      <div data-ng-show="data" data-ng-controller="SupervisionCtrl" data-ng-repeat="field in module.fields | graphable">
        <div graph data-graph-model="data" data-tick-size="field.update_rate * 10" class="graph"></div>
      </div>
    </div>
  </div>
</div>
