<div class="header">
  <span class="h1 vertical-middle">{{ module.name }}</span>
  &nbsp;
  <span class="vertical-middle" data-ng-controller="RatingCtrl">
    <rating value="module.rating" max="5" data-ng-click="rate()" on-leave="overStar = null"></rating>
  </span>
</div>
<hr />
<div class="content">
  <!-- <div ng&#45;controller="AlertCtrl"> -->
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <alert type="danger" close="">Une erreur est survenue durant la modification du field 5</alert>
  <!-- </div> -->

  <!--
  Edition d'un field :
  1 Text avec la valeur -click->
  2 Apparition de la form  -valide_form->
  3 Mise en attente de réponse -success->
  4 Succes -timeout-> 1

  2 -click_out-> 1
  3 -timeout | error->
  5 Erreur -timeout-> 1
  -->
  <div data-ng-repeat="field in module.fields">
    <form class="form-horizontal" role="form">
      <fieldset>
        <div class="form-group" data-ng-class="{success:'has-success', error:'has-error', '':''}[field.state]">
          <label for="field-{{field.name}}" class="col-sm-2 control-label">{{field.name}}</label>
          <div class="input-group input-group-sm col-sm-10">
            <div class="input-group-addon" data-ng-show="field.state!=''" data-ng-switch on="field.state">
              <span data-ng-switch-when="success">
                <span class="glyphicon glyphicon-ok"></span>
              </span>
              <span data-ng-switch-when="error">
                <span class="glyphicon glyphicon-remove"></span>
              </span>
              <span data-ng-switch-default>
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
            <input data-ng-show="field.type=='string'" id=field-{{field.name}}" type="text" class="form-control" value="{{field.value}}" placeholder="{{field.name}}" />
            <input data-ng-show="field.type=='numeric'" id=field-{{field.name}}" type="number" class="form-control" value="{{field.value}}" placeholder="{{field.name}}" />
            <input data-ng-show="field.type=='boolean'" id=field-{{field.name}}" type="checkbox" class="form-control" value="{{field.value}}" />
            <span data-ng-show="field.writable" class="input-group-btn">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-share-alt"></span>
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="fields-string-writable">
    <form class="field-string form-horizontal" role="form">
      <fieldset disabled>
        <div class="form-group">
          <label for="field-field1" class="col-sm-2 control-label">Pas writable 1</label>
          <div class="input-group input-group-sm col-sm-10">
            <input id=field-field1" type="text" class="form-control" value="value 1" />
          </div>
        </div>
      </fieldset>
    </form>

    <form class="field-string form-horizontal" role="form">
      <fieldset disabled>
        <div class="form-group">
          <label for="field-field2" class="col-sm-2 control-label">Pas writable 2</label>
          <div class="input-group input-group-sm col-sm-10">
            <input id=field-field2" type="text" class="form-control" value="value 2" />
          </div>
        </div>
      </fieldset>
    </form>

    <form class="field-string form-horizontal" role="form">
      <fieldset disabled>
        <div class="form-group">
          <label for="field-field3" class="col-sm-2 control-label">En attente rép</label>
          <div class="input-group input-group-sm col-sm-10">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
            <input id=field-field3" type="text" class="form-control" value="value 3" placeholder="value 3" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-share-alt"></span>
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>

    <form class="field-string form-horizontal" role="form">
      <fieldset>
        <div class="form-group has-success">
          <label for="field-field4" class="col-sm-2 control-label">En validation</label>
          <div class="input-group input-group-sm col-sm-10">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-ok"></span>
            </span>
            <input id=field-field4" type="text" class="form-control" value="value 4" placeholder="value 4" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-share-alt"></span>
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>

    <form class="field-string form-horizontal" role="form">
      <fieldset>
        <div class="form-group has-error">
          <label for="field-field5" class="col-sm-2 control-label">En erreur</label>
          <div class="input-group input-group-sm col-sm-10">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-remove"></span>
            </span>
            <input id=field-field5" type="text" class="form-control" value="value 5" placeholder="value 5" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-share-alt"></span>
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>

    <form class="field-string form-horizontal" role="form">
      <fieldset>
        <div class="form-group">
          <label for="field-field6" class="col-sm-2 control-label">En edition</label>
          <div class="input-group input-group-sm col-sm-10">
            <input id=field-field6" type="text" class="form-control" value="value 6" placeholder="value 6" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-share-alt"></span>
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>

    <form class="field-string form-horizontal" role="form">
      <fieldset>
        <div class="form-group">
          <label for="field-field7" class="col-sm-2 control-label">Pas readable</label>
          <div class="input-group input-group-sm col-sm-10">
            <input id=field-field7" type="text" class="form-control" placeholder="public_name7" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-share-alt"></span>
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>

    <form class="field-numeric form-horizontal" role="form">
      <fieldset>
        <div class="form-group">
          <label for="field-num-field3" class="col-sm-2 control-label">Numeric</label>
          <div class="input-group input-group-sm col-sm-10">
            <input id=field-num-field3" type="number" class="form-control" value="3.1415" placeholder="3.1415" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-share-alt"></span>
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <hr />

  <div id="inject"></div>
</div>
