<div class="header">
  <h1>Modules</h1>
</div>
<div class="content">
  <div data-ng-controller="ModulesCtrl">
    <h2>Available modules :</h2>
    <div class="row" data-ng-show="modules">
      <div data-ng-repeat="module in modules" class="large-4 small-2 columns">
        <a class="th">
          <img data-ng-src="/api/modules/{{ module.id }}/icon" alt="Image for module {{ module.id }}" title="{{ module.name }}">
        </a>
        <h4>{{ (module.name) ? module.name : module.id }}</h4>
        <p>{{ module.description }}</p>
      </div>
    </div>
    <h2>Manual installation (zip) :</h2>
    <form enctype="multipart/form-data" data-ng-submit="upload()">
      <label for="fileToUpload"></label>
      <input id="fileToUpload" type="file" data-ng-file-select="upload($files[0])" >
    </form>
    <h4 data-ng-show="uploading">Upload progress: {{ uploadProgress }}</h4>
  </div>
</div>
